json.set 89b2c519c47ffff . '[{"empresa" : "Paris","emp_run": "83274300","suc_nombre":"Alto Las Condes","suc_empresa_id":"1","suc_direccion_pais": "Chile","suc_direccion_comuna":"Las Condes","suc_direccion_comuna":"Las Condes","suc_direccion_calle":"Av. Pdte. Kennedy Lateral","suc_direccion_numero":"9001","suc_lat":"-33.489484","suc_long": "-70.545992"}
,{"empresa":"Falabella","emp_run":"90749000","suc_nombre":"Alto Las Condes","suc_empresa_id":"1","suc_direccion_pais":"Chile","suc_direccion_comuna":"Las Condes","suc_direccion_comuna":"Las Condes","suc_direccion_calle":"Av. Pdte. Kennedy Lateral","suc_direccion_numero":"9001","suc_lat": "-33.489484","suc_long":"-70.545992"}
,{"empresa":"Ripley","emp_run":"99530250","suc_nombre":"Alto Las Condes","suc_empresa_id":"1","suc_direccion_pais":"Chile","suc_direccion_comuna":"Las Condes","suc_direccion_comuna":"Las Condes","suc_direccion_calle":"Av. Pdte. Kennedy Lateral","suc_direccion_numero":"9001","suc_lat":"-33.489484","suc_long":"-70.545992"}]'
